{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
<h1>Hello World!</h1>
{% for note in notes %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content }}</p>
        <p class="card-text">{{ note.createdAt|date('d/m/Y H:i') }}</p>
        <p class="card-text">{{ note.updatedAt|date('d/m/Y H:i') }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}