{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Page de démarrage</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu ipsum, interdum sit amet dolor non, tincidunt maximus metus. Sed sit amet tortor in ipsum volutpat vulputate sit amet vitae diam. Phasellus bibendum quam et metus bibendum, sed eleifend metus convallis. Donec ligula lacus, congue interdum ante a, semper tincidunt magna. Sed ligula enim, gravida convallis justo ut, suscipit luctus nunc. Pellentesque eleifend nibh eu est sodales aliquet. Nunc sit amet venenatis lacus, at euismod sapien. Praesent sit amet mattis elit, in congue sem. Vivamus sodales risus a lacinia interdum. Ut eu enim luctus, condimentum tortor at, scelerisque dui. Etiam molestie turpis sed nibh aliquam, ac lacinia tortor lacinia. Pellentesque sit amet vestibulum mauris. Fusce egestas ac ante sit amet gravida. Praesent tellus arcu, pulvinar vel sollicitudin ac, convallis sit amet mauris. Sed at facilisis arcu, nec elementum tellus.</p>
	<p>Nullam et consectetur metus, non lacinia libero. Praesent blandit tincidunt velit non placerat. Etiam tempus ipsum ornare quam pharetra lobortis. Ut mattis pellentesque dui. Sed id consequat nisi. Nunc quis justo hendrerit, rhoncus diam nec, iaculis ipsum. Morbi nibh eros, dictum ac erat eu, venenatis scelerisque purus. Nulla quis erat vel dolor aliquet finibus ac maximus odio. Nulla ullamcorper dui libero, porta accumsan massa rhoncus id.</p>

	<div class="mb-5">
		<a href="" class="btn btn-primary btn-lg px-4">Bouton</a>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2>Première colonne</h2>
			<p>Nulla quis fringilla nulla, rutrum mollis tortor. Nam ultrices sodales rhoncus. Duis interdum ullamcorper enim, in porta orci suscipit at. Phasellus pharetra quam interdum turpis eleifend rutrum sit amet et ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a quam a justo auctor eleifend non vitae enim. Maecenas varius vel diam id consequat.</p>
		</div>

		<div class="col-md-6">
			<h2>Deuxième colonne</h2>
			<p>Nullam eget condimentum metus. Donec venenatis luctus nibh, nec pellentesque turpis tincidunt eu. Donec porta gravida massa sollicitudin mattis. Curabitur sed sapien non nisi gravida porttitor ac vel dolor. Praesent a tellus ac libero viverra ornare. Nunc mollis nunc ac erat vestibulum, vitae tristique sapien elementum. Nulla libero ante, porta vitae porta nec, imperdiet quis arcu. Sed sit amet tempor magna. Quisque at lacus blandit, varius sapien in, rutrum lacus. Aliquam id dolor nisl. Pellentesque ut lorem vitae diam aliquam egestas.</p>
		</div>
	</div>
{% endblock %}
